
.navbar-nav .nav-link {
  color: white; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background-color: blue;
  color: white; 
  border-radius: 5px; 
}
